*.txt
*.cmo
*.cmi
*.mli
test_parser.ml
test_lexer.ml
*.cmx
*.uc
*.ec
*.o
*.out
*~
dsl_test
mytop
test
ent
pre
log*
create*
Fail*
2
enc
_build/
case-study/
fancy/
testCircFunRefSingleStep/
testExprNonexistingFunOK/
tmp/

